@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$color-primary: #0063a6;
$color-primary--main: rgb(0, 58, 93);
$color-secondary: #ff5000;
$color-grey: #4b4b4b;
$color-grey--light: #cecece;
$color-grey--dark: #545454;

$font-headings: 'Work Sans', sans-serif;
$font-body: 'Work Sans', Arial, sans-serif;
