@use './abstracts/mixins';

form {
	@include mixins.displayFlex(column, flex-start, stretch);
}
.commitmentForm {
	max-width: 48rem;
	margin: 0 auto;
	border: 2px solid #5b5b5b;
	border-radius: 10px;

	.section {
		border-bottom: 1px solid #545454;
		padding: 3rem;
		transition: background-color 0.3s ease;
	}
	.section-header {
		margin: 0 auto 2rem auto;
		&__headline {
			text-transform: capitalize;
			margin: 0 auto;
		}
		&__description {
			margin: 0 auto 2rem auto;
		}
	}
	.form-header {
		padding: 2rem;
		&__description {
			text-align: center;
			margin-top: 1rem;
		}
	}
	.contact-info {
		@include mixins.displayFlex;

		&__fields {
			flex: 1 1 40%;
			@include mixins.displayFlex(column);
			& input {
				margin-bottom: 2rem;
			}
			&--first,
			&--second {
				@include mixins.displayFlex(column);
				flex: 1 1 50%;
			}
			&:nth-child(2) {
				border-left: 1px dashed lightgray;
				padding-left: 1rem;
			}
		}
		&__header {
			margin-bottom: 1rem;
		}
	}
	.time {
		&__fields {
			@include mixins.displayFlex(column);
			textarea {
				width: 100%;
				height: 10rem;
			}
		}
	}
	.talent {
		&__fields {
			@extend .time__fields;
		}
	}
	.treasure {
		&__fields {
			@include mixins.displayFlex;
			&--giving {
				@include mixins.displayFlex(column);
			}
			&--frequency {
				@extend .treasure__fields--giving;
				margin-left: 3rem;
			}
		}
	}
	input[type='button'] {
		padding: 1rem 2rem;
		display: block;
		margin: 3rem;
		align-self: flex-end;
		cursor: pointer;
		&:hover,
		&:active,
		&:focus {
			box-shadow: 2px 2px 4px rgba(black, 0.35);
		}
	}
}
.active {
	background-color: #cecece;
}
