@use '../abstracts/variables';

#myProgress {
	margin-top: 2rem;
	width: 100%;
	background-color: grey;
	border-radius: 1rem;
	overflow: hidden;
}

#myBar {
	width: 10%;
	height: 3rem;
	background-color: variables.$color-primary;
	text-align: center; /* To center it horizontally (if you want) */
	line-height: 30px; /* To center it vertically */
	color: white;
}
