@use '../abstracts/variables';
@use '../abstracts/mixins';

.goals {
	&__bar {
		margin-top: 2rem;
		width: 100%;
		background-color: white;
		border-radius: 1rem;
		overflow: hidden;
	}
	&__progress {
		@include mixins.displayFlex(row, center, center);
		width: 10%;
		height: 3rem;
		background-color: variables.$color-secondary;
		&--counter {
			color: white;
			margin-left: auto;
			margin-right: 20%;
		}
	}
}
