@use '../abstracts/mixins';
@use '../abstracts/variables';

.responses {
	@include mixins.linearGradientDarken;
	border-radius: 1rem;
	background-color: variables.$color-secondary;
	overflow: hidden;
	padding: 4rem;
	.response {
		@include mixins.displayFlex(column, center, center);
		color: white;
		&__text {
			margin: 2rem 0;
			font-style: italic;
		}
	}
}
